<!-- FlexSlider -->
  <script defer src="catalog/view/javascript/jquery/FlexSlider/js/jquery.flexslider.js"></script>
  
	<link rel="stylesheet" href="catalog/view/javascript/jquery/FlexSlider/css/flexslider.css" type="text/css" media="screen" />

  
  <section class="slider">
        <div class="flexslider">
          <ul class="slides">
		  {% for banner in banners %}
            <li data-thumb="{{ banner.image }}">
  	    	    <img src="{{ banner.image }}" />
  	    		</li>
				{% endfor %}
  	    		
          </ul>
        </div>
      </section>
	  
	  
	  

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  