 <div   
      class="swiper mySwiper2"
    >
      <div class="swiper-wrapper">
	  {% for banner in banners %}
        <div class="swiper-slide">
          <img src="{{ banner.image }}" />
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for banner in banners %}
        <div class="swiper-slide">
          <img src="{{ banner.image }}" />
        </div>
        {% endfor %}
      </div>
    </div>
	
	    <!-- Demo styles -->
   

<script>
      var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
    </script>